<div *ngIf="message.id == -1; else realMessage">

  <div class="system-message">
    <p class="system-text">{{message.messageText}}</p>
  </div>


</div>
<ng-template #realMessage>
  <div *ngIf="currentUserId!=message.userId; else received">
    <div class="incoming_msg">
      <div class="incoming_msg_img"> <img [src]="defaultImg" alt="sunil"> </div>
      <div class="received_msg">
        <div class="received_withd_msg">
          <p style="word-break: break-all"><b>{{message.userName}}</b><br />{{message.messageText}}</p>
          <span class="time_date"> {{message.receivedTime | date:'medium' }}</span>
        </div>
      </div>
    </div>
  </div>
  <ng-template #received>
    <div class="outgoing_msg">
      <div class="sent_msg">
        <p style="word-break: break-all">{{message.messageText}}</p>
        <span class="time_date"> {{message.receivedTime | date:'medium' }}</span>
      </div>
    </div>
  </ng-template>
</ng-template>