@import 'src/assets/styles/variable.scss';
.system-message {
    display: flex;
    justify-content: center;
    .system-text {
        margin-top: 10px;
        word-break: break-all;
        background: $base-background-color-system-text none repeat scroll 0 0;
        border-radius: 25px;
        font-size: 14px;
        font-family: 'Arial Black', Gadget, sans-serif;
        margin: 0 0 5px 0;
        padding: 5px 10px 5px 12px;
    }
}

.incoming-msg {
    margin-bottom: 5px;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg {
    width: 57%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
}

.outgoing_msg {
    overflow: hidden;
    margin: 10px 0 10px;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.sent_msg {
    float: right;
    width: 46%;
}