@import "../../../../assets/styles/variable.scss";

.srch-bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    input {
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
    }
    .input-group-addon {
        margin: 0 0 0 -27px;
        button {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            padding: 0;
            color: $base-color-control-button;
            font-size: 18px;
        }
    }
}