<div class="main-container">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>{{currentUser.firstName}} {{currentUser.secondName}}</h4>
          </div>
          <app-search (inputtedText)="searchUser($event)"></app-search>
        </div>
        <div class="inbox_chat">
          <div [hidden]="!isSearch">
            <div class="clear input-group-addon">
              <button class="clear-button" (click)="clearSearch()" type="button">Clear search result<i
                  class="fa fa-times" aria-hidden="true"></i>
              </button>
            </div>
            <app-user-preview [setfindedUsers]="findedUsers" (returnNewChat)="addNewChatToArray($event)">
            </app-user-preview>
          </div>

          <div [hidden]="isSearch" *ngFor="let chatItem of currentUser?.userChats" class="chat_list"
            [ngClass]="{'active_chat': currentChatId==chatItem.id}" style="cursor: pointer;">
            <app-chat-preview [chatItem]="chatItem" (pushMessage)="scroll($event)"
              [isNewChat]="chatItem.id==guidNewChat ? true : false" (returnChatId)="getCurrentChatId($event)">
            </app-chat-preview>
          </div>

        </div>
      </div>

      <!-- {{currentUser?.messages?.lenght}} -->
      <div *ngIf="!currentChatId; else message_box">
        <h1>
          Please Select Chat to start chating
        </h1>
      </div>
      <ng-template #message_box>
        <app-chat-setting [chatId]="currentChatId"></app-chat-setting>
        <app-chat></app-chat>
      </ng-template>
    </div>
  </div>
</div>