app-home:host  { 

    .inbox_people {
        height: 100%;
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        width: 35%;
        border-right: 1px solid #c4c4c4;
    }

    .message-box {
        flex-grow: 1;
        overflow-y: auto;
    }

    .clear {
        display: flex;
    }

    .clear-button {
        margin: auto;
    }

    .main-content {       
        border: 1px solid #c4c4c4;
        clear: both;
        height: 100%;
    }

    .inbox-chat {
        overflow-y: auto;
    }
}