$base-background-color: rgb(255, 250, 182);
$base-background-color-system-text :rgb(66, 241, 76);
$base-scrollbar-color: rgba(255, 255, 255, 0.3);
$base-background-color-container: rgb(5, 114, 143);
$base-color-control-button:#707070;