.setting-container {
    float: left;
    padding: 0px 5px 0 25px;
    width: 100%;
    border-bottom: 1px solid #c4c4c4;

    .text-style {
        color: #707070;
        font-size: 18px;
    }

    .setting-group {
        border-right: 1px solid #c4c4c4;
        padding-right: 5px;
        color: #707070;
        font-size: 18px;
        cursor: default;
        margin: 0px 5px 0px 5px;

        .setting-button {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            padding: 0;
            cursor: pointer;
        }
    }
}

.chat-name {
    border: none;
    min-width: 25px;
    max-width: 250px;
}