<div class="setting-container">
  <span class="setting-group">
    <button class="setting-button" type="button"
      (click)="showSettingModal(settingType.Add)">{{'LABEL.CHAT.ADD_NEW_USER' | translate}}<i class="fa fa-plus"
        aria-hidden="true"></i>
    </button>
  </span>
  <span class="setting-group">
    <button class="setting-button" type="button"
      (click)="showSettingModal(settingType.Remove)">{{'LABEL.CHAT.REMOVE_USER' | translate}}<i class="fa fa-minus"
        aria-hidden="true"></i>
    </button>
  </span>
</div>